## Modules and packages

In [1]:
#importing the math module 
import math

In [2]:
#using a function in the math module
math.ceil(2.4)

3

In [3]:
math.floor(2.4)

2

### Exploring built-in modules

In [4]:
#dir()
#help()

In [5]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [6]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

### Writing modules and pakages

In [7]:
#assuming that we created a directory with name foo and a package inside it called bar,then it can be imported in two ways
#import foo.bar
#or
#from foo import bar

In [8]:
#overriding the __all__ variable in __init__.py file to do the same
#__init__.py:
#  __al__=["bar"]

### Errors and exception handling

In [9]:
#this throws an error
#print('hello)

### try and except

In [10]:
#sample code that opens and writes a file
try:
    f1=open("testfile",'w')
    f1.write('hi bhavana')
except IOError:
    #checks for ioerror and then execute this block
    print("error:couldnt find the file or read the data")
else:
    print('content written successfully')
    f1.close()

content written successfully

In [11]:
#opening in read mode and trying to write throws error
try:
    f1=open("testfile",'r')
    f1.write('hi bhavana')
except IOError:
    #checks for ioerror and then execute this block
    print("error:couldnt find the file or read the data")
else:
    print('content written successfully')
    f1.close()

error:couldnt find the file or read the data

In [12]:
#using just except (generalizing)
try:
    f1=open("testfile",'w')
    f1.write('hi bhavana')
except:
    #checks for ioerror and then execute this block
    print("error:couldnt find the file or read the data")
else:
    print('content written successfully')
    f1.close()

content written successfully

In [13]:
#using finally

In [14]:
try:
    f1=open("testfile","w")
    f1.write('hello world')
finally:
    print("will always execute finally block")

will always execute finally block

In [15]:
#creating a func
def askint():
    try:
        val=int(input("please enter an integer:"))
    except:
        print("only integer is to be given")
    finally:
        print("finally block")
    print(val)

In [16]:
askint()

please enter an integer:45
finally block
45

In [17]:
askint()

please enter an integer:56
finally block
56

In [18]:
#looping until they enter an integer
def askint():
    try:
        val=int(input("please enter an integer:"))
    except:
        print("only integer is to be given")
        val=int(input("please enter an integer:"))
    finally:
        print("finally block")
    print(val)

In [19]:
askint()

please enter an integer:216
finally block
216

### Database connectivity and operations using python

Following is the example of connecting with MySQL database "my_database1" and creating table grades1 and inserting values inside it.

In [20]:
#!/usr/bin/python
import sqlite3
#connecting with database
db=sqlite3.connect("my_database1.db")
#dropping the table if it already exists
db.execute("drop table if exists grades1")
#creating the table grades1
db.execute("create table grades1(id int,name text,score int)")
#inserting values into the table
db.execute("insert into grades1(id,name,score) values(725,'bhavana',96)")
db.execute("insert into grades1(id,name,score) values(751,'sreeja',97)")
db.execute("insert into grades1(id,name,score) values(731,'millee',98)")
db.execute("insert into grades1(id,name,score) values(744,'riya',97)")
db.execute("insert into grades1(id,name,score) values(749,'tarun tiwari',96)")

In [21]:
db.commit()

In [22]:
#retrieving data from database
results=db.execute("select * from grades1 order by id")
for row in results:
    print(row)
    print("-"*60)

(725, 'bhavana', 96)
------------------------------------------------------------
(731, 'millee', 98)
------------------------------------------------------------
(744, 'riya', 97)
------------------------------------------------------------
(749, 'tarun tiwari', 96)
------------------------------------------------------------
(751, 'sreeja', 97)
------------------------------------------------------------

In [23]:
results=db.execute("select * from grades1 where name='millee'")
for row in results:
    print(row)
    print("-"*60)

(731, 'millee', 98)
------------------------------------------------------------

In [24]:
results=db.execute("select * from grades1 where score>96")
for row in results:
    print(row)
    print("-"*60)

(751, 'sreeja', 97)
------------------------------------------------------------
(731, 'millee', 98)
------------------------------------------------------------
(744, 'riya', 97)
------------------------------------------------------------

In [25]:
results=db.execute("select name,score from grades1 order by score desc")
for row in results:
    print(row)
    print("-"*60)

('millee', 98)
------------------------------------------------------------
('sreeja', 97)
------------------------------------------------------------
('riya', 97)
------------------------------------------------------------
('bhavana', 96)
------------------------------------------------------------
('tarun tiwari', 96)
------------------------------------------------------------

In [26]:
results=db.execute("select name,score from grades1 order by score")
for row in results:
    print(row)
    print("-"*60)

('bhavana', 96)
------------------------------------------------------------
('tarun tiwari', 96)
------------------------------------------------------------
('sreeja', 97)
------------------------------------------------------------
('riya', 97)
------------------------------------------------------------
('millee', 98)
------------------------------------------------------------