## strings and list objects

### creating a string

In [1]:
#single word
'hello'

'hello'

In [2]:
#entire phrase
'this is also a string'

'this is also a string'

In [3]:
#using double qoutes
"string built with double quotes"

'string built with double quotes'

In [4]:
#be careful with quotes
#'i'm using single quotes,but will create error'
#the above usage of single quotes creates errors,so use triple/double quotes
'''i'm using single quotes,but will create error'''

"i'm using single quotes,but will create error"

In [5]:
"i'm using single quotes,but will create error"

"i'm using single quotes,but will create error"

## printing a string

In [6]:
#we can simply declare a string
'hello'

'hello'

In [7]:
#the above doesn't work for multiple strings,use print
print("hello")
'world'

hello

'world'

In [8]:
#print was used as statement in python 2
#print 'hello world'
#it is not used in python 3,instead print function is used
print('hello world')

hello world

In [9]:
#if we have python 2 installed in our pc

#to use print function from python 3 in pyhton 2
#from __future__ import print_function
#print 'hello world'

## string basics

In [10]:
len('heelo world')

11

## string indexing

In [11]:
#assigning str1 as a string
str1='Hello world'

In [12]:
#check
str1

'Hello world'

In [13]:
#print the obj
print(str1)

Hello world

In [14]:
#display first element(here letter)
str1[0]

'H'

In [15]:
str1[1]

'e'

In [16]:
str1[2]

'l'

In [17]:
#grab everything past the first term all the way to the length of str1 which is len(str1)
str1[1:]

'ello world'

In [18]:
#no change is made in original string str1
str1

'Hello world'

In [19]:
#grab everything upto 3rd index
str1[:3]

'Hel'

In [20]:
#everything
str1[:]

'Hello world'

In [21]:
#negative indexing
#last letter
str1[-1]

'd'

In [22]:
#grab everything but the last letter
str1[:-1]

'Hello worl'

In [23]:
#using step sizes
str1[::1]

'Hello world'

In [24]:
#reversing a string
str1[::-1]

'dlrow olleH'

## string properties

In [25]:
#string is immutable
str1

'Hello world'

In [26]:
#str1[0]='a'
#generates error
#but strings can be modified using concatenation of two or more strings

In [27]:
#concatenate strings!
str1+' i am a robot'

'Hello world i am a robot'

In [28]:
#we can also reassign string completely
str1=str1+' i am a robot'

In [29]:
print(str1)

Hello world i am a robot

In [30]:
#'*' used for repetition of the string
letter='b'
letter*9

'bbbbbbbbb'

## basic built-in string methods

In [31]:
str1

'Hello world i am a robot'

In [32]:
#upper acse string
str1.upper()

'HELLO WORLD I AM A ROBOT'

In [33]:
#lower acse string
str1.lower()

'hello world i am a robot'

In [34]:
#split a string by blank space(by default)
str1.split()

['Hello', 'world', 'i', 'am', 'a', 'robot']

In [35]:
#splitting by a specific element(excludes the element used to split)
str1.split('o')

['Hell', ' w', 'rld i am a r', 'b', 't']

### print formatting

In [36]:
'insert another string with curly brackets:{}'.format('the inserted string')

'insert another string with curly brackets:the inserted string'

## location and counting

In [37]:
print(str1)
str1.count('o')

Hello world i am a robot

4

In [38]:
str1.find('o')

4

In [39]:
str1.center(50,'z')

'zzzzzzzzzzzzzHello world i am a robotzzzzzzzzzzzzz'

In [40]:
'hello\thi'

'hello\thi'

In [41]:
'hello\thi'.expandtabs()

'hello   hi'

## is check methods

In [42]:
s='hello'

In [43]:
s.isalnum()#alphanumeric

True

In [44]:
s.isalpha()#alphabets

True

In [45]:
s.islower()

True

In [46]:
s.isupper()

False

In [47]:
s.isspace()

False

In [48]:
s.istitle()

False

In [49]:
str2='Hello'
str2.istitle()

True

In [50]:
s.endswith('o')

True

## built-in regular expressions

In [51]:
s.split('e')

['h', 'llo']

In [52]:
s.partition('e')

('h', 'e', 'llo')

In [53]:
s

'hello'

## lists

In [54]:
my_list=[1,2,3]

In [55]:
my_list=['a string',23,12.9,'tsz']
my_list

['a string', 23, 12.9, 'tsz']

In [56]:
len(my_list)

4

## indexing and slicing

In [57]:
my_list=['one','two','three',4,5]

In [58]:
my_list[0]

'one'

In [59]:
my_list[1]

'two'

In [60]:
my_list[2]

'three'

In [61]:
my_list[:4]

['one', 'two', 'three', 4]

In [62]:
my_list[2:]

['three', 4, 5]

In [63]:
my_list+['new element']#not reassigned to original list,so no changes will be observed

['one', 'two', 'three', 4, 5, 'new element']

In [64]:
my_list

['one', 'two', 'three', 4, 5]

In [65]:
my_list=my_list+['add new ele permanently']

In [66]:
my_list

['one', 'two', 'three', 4, 5, 'add new ele permanently']

In [67]:
my_list*2

['one',
 'two',
 'three',
 4,
 5,
 'add new ele permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new ele permanently']

In [68]:
my_list#no change in original list until reassigned

['one', 'two', 'three', 4, 5, 'add new ele permanently']

## basic list methods

In [69]:
l=[1,2,3]

In [70]:
#appending
l.append("appended ele")

In [71]:
l

[1, 2, 3, 'appended ele']

In [72]:
#pop off element(by default last element)
l.pop()

'appended ele'

In [73]:
l

[1, 2, 3]

In [74]:
#pop off 1st element(at index 0)
l.pop(0)

1

In [75]:
l

[2, 3]

In [76]:
poppeditem=l.pop()

In [77]:
poppeditem

3

In [78]:
l

[2]

In [79]:
#l[100]
#shows index error

In [80]:
new_list=['a','b','c','d','e','x','y','z']

In [81]:
new_list

['a', 'b', 'c', 'd', 'e', 'x', 'y', 'z']

In [82]:
#reverse and sort are permanent
new_list.reverse()

In [83]:
new_list

['z', 'y', 'x', 'e', 'd', 'c', 'b', 'a']

In [84]:
new_list.sort()

In [85]:
new_list

['a', 'b', 'c', 'd', 'e', 'x', 'y', 'z']

## nesting list

In [86]:
#creating 3 lists
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]

In [87]:
#make matrix of lists to form a matrix
matrix=[l1,l2,l3]

In [88]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [89]:
matrix[0]

[1, 2, 3]

In [90]:
matrix[0][0]

1

In [91]:
matrix[2][0]

7

## list comprehensions

In [92]:
first_col=[row[0] for row in matrix]

In [93]:
first_col

[1, 4, 7]

## advanced lists

In [94]:
l=[1,2,3]

### append

In [95]:
l.append(4)
l

[1, 2, 3, 4]

### count

In [96]:
l.count(2)

1

### extend

In [97]:
x=[1,2,3,4]
x.append([5,6])#append takes the list as single element
print(x)

[1, 2, 3, 4, [5, 6]]

In [98]:
x=[1,2,3,4]
x.extend([5,6])#extend considers each element in the later list as element
print(x)

[1, 2, 3, 4, 5, 6]

### index

In [99]:
print(l)

[1, 2, 3, 4]

In [100]:
l.index(2)#first occurrance in list,if not present in list returns error

1

In [101]:
#l.index(12)
#error

### insert

In [102]:
#insert(index,object)

In [103]:
l

[1, 2, 3, 4]

In [104]:
l.insert(2,'insert')

In [105]:
l

[1, 2, 'insert', 3, 4]

### pop

In [106]:
element=l.pop()

In [107]:
l

[1, 2, 'insert', 3]

In [108]:
element

4

### remove

In [109]:
#remove(element)

In [110]:
l

[1, 2, 'insert', 3]

In [111]:
l.remove(2)

In [112]:
l

[1, 'insert', 3]

In [113]:
l=[1,2,3,4,6,2]

In [114]:
l

[1, 2, 3, 4, 6, 2]

In [115]:
l.remove(2)

In [116]:
l

[1, 3, 4, 6, 2]

### reverse

In [117]:
l.reverse()

In [118]:
l

[2, 6, 4, 3, 1]

### sort

In [119]:
l.sort()

In [120]:
l

[1, 2, 3, 4, 6]